<div class="container">
    <div class="row" ng-repeat="project in data" ng-style="{'background-color' : 'rgba(255, 255, 255, 0.6)'}">
        <div class="col-sm-4" ng-style="{ 'background-image' : 'url(' + project.image + ')', 'background-size' : 'cover', 'min-height' : '300px', 'padding' : '2px'}"></div>
        
        <div class="col-sm-8">
            <h2><a target="_blank" href="{{project.url}}">{{project.name}}</a></h2>
            <hr>
            <p>{{project.description}}</p>
        </div>
    </div>
</div>